# {{ ansible_managed }}

version: '3.9'
services:
  teamspeak:
{% if ts_releases_image is defined %}
    image: teamspeak:{{ ts_releases_image }}
{% else %}
    image: teamspeak
{% endif %}
    hostname: teamspeak
    container_name: teamspeak    
    restart: {{ item.restart }}
    ports:
      - {{ item.voice_server_port }}:9987/udp
      - {{ item.server_query_port }}:10011
      - {{ item.file_transfer_port }}:30033
    links:
      - db
      
    volumes:
      - "{{ ts_volumes_local_path }}/{{ item.server }}:/var/ts3server:rw"

    env_file:
      - "{{ ts_variables_local_path }}/.env_teamspeak"

    networks:
      ts_net_backend:
        aliases:
          - teamspeak
      ts_net_frontend:

  db:
    image: mariadb
    hostname: mariadb
    container_name: mariadb
    restart: {{ item.restart }}
    volumes:
      - "{{ ts_volumes_local_path }}/{{ item.server }}/mariadb:/var/lib/mysql:rw"

    env_file:
      - "{{ ts_variables_local_path }}/.env_mariadb"

    networks:
      ts_net_backend:
        aliases:
          - mariadb

# teamspeak-network
networks:
  ts_net_frontend:
    driver: bridge
    driver_opts:
      com.docker.network.enable_ipv6: "false"
    ipam:
      driver: default
      config:
        - subnet: 172.16.238.0/24

  ts_net_backend:
    driver: bridge
    driver_opts:
      com.docker.network.enable_ipv6: "false"
    internal: true
    ipam:
      driver: default
      config:
        - subnet: 172.16.239.0/24
